:root {
  --white: #fff;
  --active-color: #00aeb0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: var(--active-color);
  background-image: url('https://source.unsplash.com/random/1920x1080/?wallpaper,landscape');
  background-size: cover;
  background-position:50% 50%;
  image-rendering: pixelated;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

table {
  overflow-x: hidden;
  table-layout: fixed;
}

.tb-content {
  height: 580px;
  border-width: 0px;
  padding-right: 25px;
  overflow-y: scroll;
  scrollbar-color: rgba(255, 255, 255, .55) transparent;
}

@media (max-width: 768px) {
  .tb-content {
    height: 85vh;
    border-width: 0px;
    padding-right: 20px;
    overflow-y: scroll;
    scrollbar-color: rgba(255, 255, 255, .55) transparent;
  }
}

.tb-content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
}

.tb-content::-webkit-scrollbar-track  {
  background-color: transparent;
  display: none;
}

.tb-content::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(255, 255, 255, .55);
  border-radius: 5px;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.left-td {
  padding: 15px;
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  color: rgba(52, 52, 52, 0.8);
  cursor: pointer;
  border-collapse: separate; 

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  background-color: rgba(255, 255, 255, .55);
  height:100%;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.rest-td {
  padding: 15px;
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  color: rgba(52, 52, 52, 0.8);
  cursor: pointer;
  border-collapse: separate; 

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  background-color: rgba(255, 255, 255, .55);
  height:100%;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.search-frame {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  min-width: 350px;
  background-color: rgba(255, 255, 255, .55);
  height:100%;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

@media (max-width: 768px) {
  .search-frame {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, .55);
    height:100%;
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
}

.search {
  margin-bottom: 8px;
  font-size: 17px;
  width: 100%;
  background-color: rgba(255, 255, 255, .75);
  padding: 15px;
  border: none;
  border-radius: 10px;
}

input:focus { outline:none; }

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb{
  visibility:hidden
}

input[type="range"]::-moz-range-thumb{
  visibility:hidden
}

input[type="range"]::-ms-thumb {
  visibility:hidden
}

.hidden {
  display: none;
}

.audio-player {
  display: inline-block;
  max-width: 350px;
  padding: 24px;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: background 0.2s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: var(--white);

  -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.splash h1 {
  font-size: 3rem;
  color: rgba(255, 255, 255, .85);
  margin-bottom: 1rem;
}

.splash p {
  color: rgba(255, 255, 255, .85);
  font-size: 1.5rem;
}

.track-info {
  text-align: center;
  z-index: 1;
  position: relative;
}

.title {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 4px;
  color: rgba(255, 255, 255, .85);
  cursor: pointer;
}

.artist {
  font-weight: 300;
  margin-top: 0;
  color: rgba(255, 255, 255, .85);
  cursor: pointer;
}

.audio-controls {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}

.audio-controls .prev,
.audio-controls .next {
  margin: auto;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .8);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.audio-controls .prev:hover,
.audio-controls .next:hover {
  margin: auto;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .88);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.audio-controls .play,
.audio-controls .pause {
  height: 200px;
  width: 200px;
  font-weight: 600;
  font-size: large;
  border-radius: 50%;
  background: rgba(255, 255, 255, .8);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.audio-controls .play:hover,
.audio-controls .pause:hover {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .85);
  -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.audio-controls path {
  fill: var(--white);
}

.color-backdrop {
  background: linear-gradient(45deg, var(--active-color) 20%, transparent 100%)
    no-repeat;
  position: absolute;
  border-radius: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.color-backdrop.playing {
  animation: colorChange 20s alternate infinite;
}

.sonar-wrapper {
  z-index: -1;
}

/* The circle */
.sonar-emitter {
  z-index: -1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: transparent
}

/* the 'wave', same shape and size as its parent */
.sonar-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .8);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  animation: sonarWave 2s linear infinite;
}

.button-back {
  border: 5px solid rgba(255, 255, 255, 0.9);
  top: -8px;
  left: -8px;
  position: absolute;
  border-radius: 50%;
  height: 216px;
  width: 216px;
  animation: fill linear 1.5s;
}

.scroll-items {
  position: relative;
  -webkit-mask-image: linear-gradient(to right,#0000,#000,#000,#0000);
  touch-action: none;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
  padding: 10%;
}

.scroll-items>div {
  display: inline-block;
  touch-action: none;
  background: transparent;
  min-height: 400px;
  min-width: 400px;
  max-height: 400px;
  max-width: 400px;

  margin: 2em 1em;
  aspect-ratio: 1;
  box-shadow: 0 0 5px 5px rgba(52, 52, 52, 0.3);
}

.scroll-items>.no-image {
  min-height: 400px;
  min-width: 400px;
  max-height: 400px;
  max-width: 400px;

  touch-action: none;
  background: transparent;
  cursor: default;
  box-shadow: none;
}

@media (max-width: 767px) {
  .scroll-items>div {
    display: inline-block;
    background: transparent;
    min-height: 250px;
    min-width: 250px;
    max-height: 250px;
    max-width: 250px;
  
    touch-action: none;
    margin: 5em 1em;
    aspect-ratio: 1;
    box-shadow: 0 0 5px 5px rgba(52, 52, 52, 0.3);
  }
}

@media (max-width: 767px) {
  .scroll-items>.no-image {
    min-height: 250px;
    min-width: 250px;
    max-height: 250px;
    max-width: 250px;

    touch-action: none;
    background: transparent;
    cursor: default;
    box-shadow: none;
  }
}

.scroll-items img {
  height: 100%;
  width: 100%;
  touch-action: none;
  object-fit: cover;
}

.scroll-items.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  touch-action: none;
  transform: scale(1);
}

::-webkit-scrollbar{
  height: 16px;
  display: none;
}

::-webkit-scrollbar-track{
  background-color: #f5f5f5;
  display: none;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(255, 255, 255, .55);
  border-radius: 10px;
  display: none;
}

@keyframes fill {
  0% {
    clip-path: polygon(50% 0%, 50% 50%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(50% 0%, 50% 50%, 100% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
  37.5% {
    clip-path: polygon(50% 0%, 50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 0%);
  }
  62.5% {
    clip-path: polygon(50% 0%, 50% 50%, 0% 100%, 0% 100%, 0% 100%, 100% 100%, 100% 0%);
  }
  87.5% {
    clip-path: polygon(50% 0%, 50% 50%, 0% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
  100% {
    clip-path: polygon(50% 0%, 50% 50%, 50% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
}

@keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes colorChange {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}